/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --headings-color: #FF0070;
  --headings-color-hover: #FF007066;
  --titles-color: #000028;
  --paragraphs-color: #F1B2CE;
  --rec-visibility: visible;
  --page-title-color: #DB00FF;
  --screen-min-height: 668px;
  --page-padding: 10px;
  --page-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-gap: 40px;
  --main-gap: 50px;
}

@media (width >= 768px) {
  :root {
    --screen-min-height: 1024px;
    --page-padding: 20px;
    --page-gap: 60px;
    --main-gap: 80px;
  }
}

@media (width >= 1024px) {
  :root {
    --screen-min-height: 768px;
  }
}
